/* ===== Google Font Import - Poformsins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');




.jobs {
    background-color: #181818;
    margin-top: -2%;
}

.Row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Card:hover {
    cursor: pointer;
    background-color: #7d7c7c;
}

.Card {
    color: #ffff;
    padding: 0.5%;
    margin: 2%;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px 0 rgba(234, 224, 224, 0.2);
}
.Tasks {
    padding: 2%;
    margin: 2%;
}
#project {
    background-color: #404040;
    color: #ffff;
}
.upper-row {
    display: flex;
    justify-content: space-between;
}
#ownerAddress {
    font-size: small;
    color: #cbc4c4;
}
#project-title {
    color: #007bff;
    display: flex;
    justify-content: space-between;
}

#project-title  p {
    margin: 0%;
    padding: 0%;
    color: #aba9a9;
    font-size: small;
}

#price {
    color: #fbbf24;
    justify-content: start;
    font-size: medium;
}

.price {
    display: flex;
    justify-content: space-between;
    /* margin: 2%; */
}

#model {
    background-color: #404040;
}
#header {
    color: #ffff;
    background-color: #404040;  
    /* padding: 2%; */
    border-radius: 0px;
}
.technologies {
    display: flex;
    justify-content: space-between;
    margin: 0% 1%;
    color: #16a34a;
    font-size: medium;
}

.upload {
    background-color: #404040;
    color: #ffff;

}
.upload > input {
    border-radius: 5px;
    margin : 0% 1%;
}

.loader {
    margin-top: 15%;
    align-items: center;
}

.description {
    color: #ffff;
}

/* Task search */

.search {
    display: flex;
    justify-content: space-between;
    margin: 2%;
    max-width: 50%;
    align-items: center;
    text-align: center;
    margin-left: 25%;
}

.search__input {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 1%;
    width: 100%;
}
